@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

@layer base {
  :root {
    --color-primary: #e11d48;
    --color-inverted: #fee2e2;
  }
  .theme-indigo {
    --color-primary: #4e46e5;
    --color-inverted: #c7d2fe;
  }
  .theme-green {
    --color-primary: #16a34a;
    --color-inverted: #ddd6fe;
  }
  .theme-amber {
    --color-primary: #d97706;
    --color-inverted: #fde68a;
  }
}

body {

  background-color: black;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity ease-in-out 1000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity ease-in-out 1000ms;
}

.page {
  position: absolute;
}

.popup-enter {
  opacity: 0;
  transform: scale(0.9);
}
.popup-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}
.popup-exit {
  opacity: 1;
}
.popup-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}
